body {
  background-color: #FEF9EF;
  font-family: sans-serif;
}

.center-text {
  text-align: center;
}

/* Header/Nav */

nav {
  height: fit-content;
  min-height: 100px;
  width: 100%;
  background-color: #000000;
  margin-bottom: 50px;
  position: sticky;
  top: 0;
}

.nav-top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

#about-btn {
  display: inline-block;
  border: none;
  text-decoration: none;
  background: inherit;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
  font-size: 20pt;
  padding: 10px 20px;
}

#about-btn:hover {
  color: #3a81d8;
}

.right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.stockwatch-logo {
  height: 100px;
}

.nav-button {
  margin: 15px;
  border: none;
  outline: none;
  background-color: #000000;
  color: white;
  font-size: 20pt;
  cursor: pointer;
  height: 100%;
  margin-left: 50%;
}

.nav-button:hover {
  color: rgb(255, 230, 0);
}

#search-container {
  display: flex;
  flex-direction: row;
  margin: 15px;
  background-color: #FEF9EF;
  width: fit-content;
  height: fit-content;
  border-radius: 5px;
  padding: 10px;
  margin-right: 5%;
}

#search-container button {
  border: none;
  outline: none;
  background-color: inherit;
}

.search-img {
  display: flex;
  align-self: center;
  width: 25px;
  height: 25px;
  margin-left: 10px;
}

.search-input {
  border-radius: 5px;
  color: #000000;
  background-color: #FEF9EF;
  border: none;
  font-size: 15pt;
}

input:focus {
  outline: none;
}

/* Content */

.custom-header {
  padding: 1%;
  margin: 0 5% 1% 5%;
  width: fit-content;
  text-align: center;
  background-color: #4586d4;
  color: #FEF9EF;
}

.articles-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.article-box {
  height: fit-content;
  border: none;
  outline: none;
  background-color: inherit;
  width: 80%;
  border: 3px solid black;
  border-radius: 20px 20px 0px 0px;
  background-color: #F0ECE2;
  padding: 1%;
  margin: 1%;
  text-align: left;
  cursor: pointer;
}

.article-box:hover {
  background-color: #F5F5F5;
  cursor: pointer;
}

.article-box p {
  margin: 0;
}

.article-headline {
  font-size: 20pt;
  font-weight: bold;
}

.article-source {
  font-family: Serif;
  font-size: 16pt;
}

.article-summary {
  font-size: 14pt;
  color: #494949;
}

.article-time {
  color: rgb(0, 119, 255);
}

.article-image {
  float: left;
  height: 150px;
  margin-right: 2%;
  margin-bottom: 2%;
}

/* 
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
} */

.stock-button {
  border: none;
  outline: none;
  background-color: #1C6DD0;
  font-size: 16pt;
  margin: 10px;
  padding: 10px 20px 10px 20px;
  border-radius: 20px;
}

.stock-button:hover {
  background-color: #3a81d8;
}

/* Footer */

footer {
  background-color: #000000;
  bottom: 0;
}

/* About Page */
.about-desc {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 17%;
  margin-right: 17%;
  font-size: 18pt;
}

.finnhub-about-page-img {
  height: 200px;
}

.stockwatch-color {
  color: #3a81d8;
}

.finnhub-color {
  color: green;
  font-weight: bold;
}

.finnhub-color-free {
  color: red;
}

.about-desc ul {
  list-style: none;
}

.about-desc ul li::before {
  content: ">";
  color: #00b7cf;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.about-desc li {
  margin-bottom: 3%;
}

.stocks-list-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1%;
}

.stock-list {
  columns: 3;
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

.favorites-list-container {
  text-align: center;
}

.favorites-list {    
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

.favorites-stock-item {
  margin: 5%;
}

.stocks-btn {
  background-color: #6194f3;
  border: none;
  color: rgb(255, 255, 255);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 100% ;
  border-radius: 10px;
  border: 2px solid #000000; /* Green */
  margin-bottom: 5%;
}

.stocks-btn b {
  color: #000000;
  font-size: larger;
}

.stocks-btn:hover {
  background-color: #74b3ff;
  cursor: pointer;
}

#favorites-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px #000000;
  background-color: #ebebeb;
  height: 100%;
  min-height: 200px;
  margin: 10% 20% 0 20%;
  border-radius: 10px;
  padding: 3% 0 3% 0;
}

.signout-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

.sign-in-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3%;
}

.google-logout-btn {
  display: inline-block;
      background: white;
      color: #444;
      width: 190px;
      border-radius: 5px;
      border: thin solid #888;
      box-shadow: 1px 1px 1px grey;
      white-space: nowrap;
      padding: 3% 4% 3% 4%;
}
.google-logout-btn:hover {
  cursor: pointer;
  background-color: #fffafa;
}

.company-desc {
  text-align: center;
}
.company-desc h1{
  display: inline;
}

.favorite-btn:hover, .unfavorite-btn:hover {
  cursor: pointer;
}
.favorite-btn:hover {
  background-color: rgb(0, 161, 0);
}
.unfavorite-btn:hover {
  background-color: rgb(189, 0, 0);
}
.favorite-btn, .unfavorite-btn {
  padding: 0 1% 0 1%;
  font-size: 16pt;
  border-radius: 10px;
}
.favorite-btn {
  float: right;
  background-color: rgb(0, 202, 0);
}
.unfavorite-btn {
  float: right;
  background-color: red;
}

/* Responsive */

@media (max-width: 1300px) {
  .favorites-list {
    grid-template-columns: repeat(5, 1fr);
  }
}


@media (max-width: 1100px) {
  .nav-top,
  .right {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (max-width: 1017px) {
  nav {
    position: static;
  }
  .nav-top {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .nav-button,
  #search-container {
    margin-left: 0;
    margin-right: 0;
  }
  .favorites-list {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 900px){
  .favorites-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 700px) {
  .nav-top,
  .right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .nav-button,
  #search-container {
    margin-left: 0;
    margin-right: 0;
  }

  .finnhub-about-page-img {
    height: 200px;
    width: 100%;
  }

  .article-image {
    max-width: 250px;
  }
  .company-desc {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .favorite-btn {
    text-align: center;
    width: min-content;
    white-space:nowrap;
    background-color: rgb(0, 202, 0);
  }
  .unfavorite-btn {
    float: none;
    width: min-content;
    white-space:nowrap;
    background-color: red;
  }
  .stock-list {
    columns: 2;
  }
  .favorites-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .stock-list {
    columns: 1;
  }
  .favorites-list {
    grid-template-columns: repeat(1, 1fr);
  }
}