#line-graph {
    height: 80% !important;
    width: 90% !important;
    border: 1px solid #ddd;
}
div h1 {
    text-align: center;
}

.chart-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#chart-container {
    display: flex;
    flex-direction: row;
}


.table-section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-bottom: 1px solid #ddd;;
    margin-bottom: 2.5%;
}

.company-table {
    min-height: fit-content;
    width: 30%;
    margin: 1% 0 1% 0.3%;
}

.company-table td, .company-table th{
    border: 1px solid #ddd;
    padding: 2%;
}

.td-1 {
    font-weight: bold;
}

.company-desc {
    margin: 0 2% 0 2%;
    padding: 2%;
    border: 1px solid #ddd;
}

@media (max-width: 936px) {
    #chart-container {
        display: flex;
        flex-direction: column;
    }
    .table-section  {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .company-table {
        width: 90%;
        margin: 1% 0 1% 5%;
    }
}