/* (A) FIXED WRAPPER */
.hwrap {
    overflow: hidden; /* HIDE SCROLL BAR */
    background: #eee;
    width: 100%;
  }
   
  /* (B) MOVING TICKER WRAPPER */
  .hmove { 
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: row;
  }

  /* (C) ITEMS - INTO A LONG HORIZONTAL ROW */
  .hitem {
    display: flex;
    flex-wrap: nowrap;
    flex-shrink: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    text-align: center;
  }
   
  /* (D) ANIMATION - MOVE ITEMS FROM RIGHT TO LEFT */
  /* 4 ITEMS -400%, CHANGE THIS IF YOU ADD/REMOVE ITEMS */
  @keyframes tickerh {
    0% { transform: translate3d(100%, 0, 0); }
    100% { transform: translate3d(-100%, 0, 0); }
  }
  .hmove { 
    animation: tickerh linear 15s infinite; 
  }

  .hmove:hover { 
    animation-play-state: paused; 
  }

  .stock-logo {
    height: 20px;
    margin: 5px;
  }

  .stock-btn {
    display:inline-flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 500px;
    border-radius: 10px;
    margin: 0 10px 0 10px;
    padding: 8px;
  }

  .stock-btn:hover {
    color: rgb(0, 4, 255);
    background-color: rgb(214, 214, 214);
    cursor: pointer;
  }

@media (max-width: 1076px) {
  .hitem {
  }
  .hmove { animation: tickerh linear 18s infinite; }
}